{% extends 'base.html.twig' %}

{% block title %}Hello ImageController!{% endblock %}
{% form_theme form 'bootstrap_5_layout.html.twig' %}
{% block body %}




    {{ form_start(form) }}
    {{ form_row(form.imageFile) }}
    <button type="submit" class="btn btn-success">send</button>
    {{ form_end(form) }}
{% endblock %}
