{% extends 'base.html.twig' %}

{% form_theme form "bootstrap_5_layout.html.twig" %}


{% block title %}Hello CategoryController!{% endblock %}

{% block body %}
    {% for category in categories %}

        <div class="d-flex justify-content-between">
        <hr>
        {{ category.name }}
            <a href="btn btn-warning">Supprimer</a>
        </div>

    {% endfor %}


    <h3 class="mt-5">Nouvelle Catégorie</h3>

    {{ form_start(form) }}

    {{ form_row(form.name) }}
    <button type="submit" class="btn btn-success">Créer</button>
    {{ form_end(form) }}
{% endblock %}
